@import "tailwindcss";

@theme {

  --container-qrwidth: 300px;

  --font-sans:  "Outfit", ui-sans-serif, system-ui;

  --color-theme-white: hsl(0, 0%, 100%);
  --color-theme-slate1: hsl(212, 45%, 89%);
  --color-theme-slate2: hsl(216, 15%, 48%);
  --color-theme-slate3: hsl(218, 44%, 22%);
}

html,
body {
  @apply bg-theme-slate1 h-screen w-screen;


}
